/* .sidebar-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .sidebar-toggle {
      display: block;
      cursor: pointer;
    }
  
    .pro-sidebar.collapsed {
      width: 0;
    }
  
    .pro-sidebar.collapsed .sidebar-toggle {
      margin-left: 5px;
      background-color:#bac3d3;
    }
    
  } */

  
  
  
  
  